<!DOCTYPE html>
<html>

<head>
  <title>Furima</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%# クライアントサイドからPAY.JPのAPIを使用するために読み込むライブラリ %>
  <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  <%# JavaScriptの無効を外すために記述する %>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
  <%= yield %>
</body>

</html>